mat-list-item{
  border-bottom: thin solid #555;
}
.comments-row {
  display: flex;
  border-top: thin solid #555;
  padding-top: 10px;
  justify-content: space-around;
  align-items: center;

}

mat-form-field {
  width: 75%;
}
.comment-wrapper{
  background-color: brown;
}
:host {
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}


:host .comment-wrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  text-align: center;

  padding: 20px 15px;
  background-color: aliceblue !important;
}

