.mat-mdc-card{
  display: flex;
  text-align: center;justify-content: center;align-content: center;
  margin: 25px;
  border-radius: 25px;
}

img{
   width: 95%;
}
.comments-row{
  width: auto;

}



