<mat-card [formGroup]="mainForm" class="main-form">
  <mat-card-title slideAndFade>Inscription</mat-card-title>
  <!-- t ki?-->
  <mat-card class="form-card" formGroupName="personalInfo">
    <mat-card-subtitle>Informations personnelles</mat-card-subtitle>
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Prénom</mat-label>
        <input type="text" matInput formControlName="firstName">
        <mat-error>ce champs est requis</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input type="text" matInput formControlName="lastName">
        <mat-error>ce champs est requis</mat-error>
      </mat-form-field>
    </div>
  </mat-card>


  <!-- thé ou café?-->
  <mat-card class="form-card">
    <mat-card-subtitle>Comment préférez-vous que l'on vous contacte ?</mat-card-subtitle>
    <mat-radio-group [formControl]="contactPrefenceCtrl">
      <mat-radio-button value="email">pigeon mailer</mat-radio-button>
      <mat-radio-button value="phone">tambour telephone</mat-radio-button>
    </mat-radio-group>
  </mat-card>


  <!--le card email-->
  <mat-card class="form-card" [formGroup]="emailForm" *ngIf="showEmailCtrl$ | async">
    <mat-card-subtitle>Email</mat-card-subtitle>
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Adresse mail</mat-label>
        <input type="text" matInput formControlName="email">
        <mat-error>{{ getFormErrorText(emailCtrl)}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirmer votre adresse mail</mat-label>
        <input type="text" matInput formControlName="confirm">
        <mat-error>{{ getFormErrorText(confirmEmailCtrl)}}</mat-error>
      </mat-form-field>
    </div>
    <small class="error-text" *ngIf="showEmailError$ | async">ces champs ne sont pas en oxomose avec la matrix</small>
  </mat-card>





  <!-- card telephone-->
  <mat-card class="form-card" *ngIf="showPhoneCtrl$ | async">
    <mat-card-subtitle>Téléphone</mat-card-subtitle>
    <mat-form-field appearance="fill">
      <mat-label>Numéro de téléphone</mat-label>
      <input type="text" matInput [formControl]="phoneCtrl">
      <mat-error>{{ getFormErrorText(phoneCtrl)}}</mat-error>

    </mat-form-field>
  </mat-card>

  <!-- card login-->
  <mat-card class="form-card" [formGroup]="loginInfoForm">
    <mat-card-subtitle>Informations de connexion</mat-card-subtitle>
    <mat-form-field appearance="fill">
      <mat-label>Nom d'utilisateur</mat-label>
      <input type="text" matInput formControlName="username">
      <mat-error>ce champs est requis</mat-error>
    </mat-form-field>
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-error>ce champs est requis</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirmer votre mot de passe</mat-label>
        <input type="password" matInput formControlName="confirmPassword">
        <mat-error>ce champs est requis</mat-error>
      </mat-form-field>
    </div>
    <small class="error-text" *ngIf="showPasswordError$ | async">ces champs ne sont pas en oxomose avec la matrix</small>

  </mat-card>

  <!-- le bouton wsh-->
  <mat-card-actions *ngIf="mainForm.valid">
    <button mat-flat-button color="primary" (click)="onSubmitForm()" [disabled]="loading">ENREGISTRER</button>
  </mat-card-actions>
  <mat-spinner *ngIf="loading" mode="indeterminate"></mat-spinner>
</mat-card>
